h2 {
  font-size: 1.25rem !important;
}

.Game {
  display: flex;
  flex-flow: row nowrap;
}

.Board tr {
  display: flex;
  flex-flow: row nowrap;
}

.BoardCell {
  width: 2em;
  height: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.BoardCell > input {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}

.Debug > textarea {
  font: monospace;
  width: 100vw;
}
