/*
h2 {
  font-size: 1.25rem !important;
}
*/

.Game {
  display: flex;
  flex-flow: row nowrap;
}

.Board {
  border: 1px solid black;
}

.Board tr {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.5rem;
}

.BoardCell {
  width: 2em;
  height: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.BoardCell > input {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}

.BoardCell > .tile {
  width: 1.5em;
  height: 1.5em;
  background: #fff0c0;
  text-align: center;
  position: relative;
}

.BoardCell .tilePoints {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0.5em;
  text-align: right;
  top: 1.5em;
}

.BoardButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.BoardButtons > * + * {
  margin-left: 1rem;
}

.Debug > textarea {
  font: monospace;
}

.Setup {
  max-width: 40rem;
}
